# Executables
*.exe
*.out
a.exe
a.out
cuacker.exe
cuacker

# Objects
*.o
*.obj

# Documentation
docs/
Doxyfile

# Archives
*.tar
*.zip
*.gz

# IDE folders
.vscode/
.idea/
.vs/
*.swp
*.swo

cuacker_analysis.md
*implementation_plan*.md

# --- CMake Files/Folders ---
build/
.cache/
CMakeFiles/
CMakeCache.txt
CMakeSettings.json
*.cmake
install_manifest.txt

# --- VS Code ---
.vscode/ipch/
.vscode/bin/
.vscode/obj/

